:root {
    --color-energy-yellow: #f4e063;
    --color-brandy-punch: #de923a;
    --color-hawaiian-tan: #a05611;
    --color-cioccolato: #532b0b;
    --color-tamarind: #210d1d;
}

body{
    background-color: var(--color-tamarind);
}

.title {
    text-align: center;
    color: var(--color-energy-yellow);
}

div.ninepatch-bg {
    border: 8px solid var(--color-tamarind);
    padding: 16px;
    background-color: var(--color-tamarind);
    border-image: url(../images/ninepatch.png) 64 round round;
    color: white;
}

button.ninepatch-button {
    background-color: var(--color-hawaiian-tan);
    color: var(--color-energy-yellow);
    border: 4px solid black;
    border-image: url(../images/ninepatch-normal.png) 32 round round;
    
}
button.ninepatch-button:hover {
    background-color: var(--color-brandy-punch);
    color: var(--color-tamarind);
    border: 4px solid black;
    border-image: url(../images/ninepatch-hover.png) 32 round round;
    
}
button.ninepatch-button:active {
    background-color: var(--color-cioccolato);
    color: var(--color-energy-yellow);
    border: 4px solid black;
    border-image: url(../images/ninepatch-press.png) 32 round round;
    
}