:root {
    --color-vis-vis: #fff3a5;
    --color-energy-yellow: #f4e063;
    --color-brandy-punch: #de923a;
    --color-hawaiian-tan: #a05611;
    --color-cioccolato: #532b0b;
    --color-jacko-bean: #2d1604;
    --color-tamarind: #210d1d;
    --color-mardi-gras: #19002c;     /*I used chir.ag to name colour variables*/
}

body{
    margin: 0px;
    background-color: var(--color-mardi-gras);
    background-image: url(../images/bg.png);
    animation-name: background;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes background {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 220px 220px;
    }
}

.ninepatch-8{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 8px solid black;
    border-image: url(../images/ninepatch.png) 64;
}

div.top-ribbon {
    height: 64px;
    width: 100vw;
    padding: 0%;

    background-color: var(--color-mardi-gras);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrapper {
    margin-left: 5vw;
    height: calc(100vh - 128px);
    width: 90vw;

    overflow-y: auto;
}

div.middle-block {
    font-size: 2em;

    height: 500%;

    scrollbar-width: thin;

    color: var(--color-energy-yellow);

    background-color: var(--color-tamarind);

    padding: 16px;

    position: relative;
}

.section::-webkit-scrollbar {
    width: 16px;
}

.section::-webkit-scrollbar-track {
    background-color: var(--color-jacko-bean);
    border: 2px solid var(--color-cioccolato);
}

.section::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--color-brandy-punch);
    border: 4px solid black;
    border-image: url(../images/ninepatch-scrollbar-thumb-normal.png) 16;
    transition: 1s linear;
}

.section::-webkit-scrollbar-thumb:hover {
    background-clip: content-box;
    background-color: var(--color-energy-yellow);
    border: 4px solid black;
    border-image: url(../images/ninepatch-scrollbar-thumb-hover.png) 16;
}

div.bottom-ribbon {
    height: 64px;
    width: 100vw;
    padding: 0%;

    position: relative;

    background-color: var(--color-mardi-gras);
}

.title {
    text-align: center;
    color: var(--color-energy-yellow);
}
.subtitle {
    text-align: center;
    text-shadow: var(--color-cioccolato) 2px 2px;
    color: var(--color-vis-vis);
}

.text-highlight {
    color: var(--color-vis-vis);
}

.small-bottom-text {
    font-size: 1vmin;
    color: var(--color-brandy-punch);
    position: absolute;
    bottom: 0;
    right: 16px;
}

.funny-text:hover {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: funny-text;
    animation-direction: alternate;
}

@keyframes funny-text {
    0% {
        margin-left: 0;
        color: var(--color-energy-yellow);
    }
    100% {
        margin-left: 16px;
        color: var(--color-vis-vis);
    }
}

.palete-img {
    position: absolute;
    color: var(--color-energy-yellow);
    right: 16px;
    top: 8px;
}

.palete-text {
    position: relative;
}

button.ninepatch-button {
    background-color: var(--color-hawaiian-tan);
    color: var(--color-energy-yellow);
    border: 4px solid var(--color-mardi-gras);
    border-image: url(../images/ninepatch-normal.png) 32 round round;
    
}
button.ninepatch-button:hover {
    background-color: var(--color-brandy-punch);
    color: var(--color-tamarind);
    border: 4px solid black;
    border-image: url(../images/ninepatch-hover.png) 32 round round;
    
}
button.ninepatch-button:active {
    background-color: var(--color-cioccolato);
    color: var(--color-energy-yellow);
    border: 4px solid black;
    border-image: url(../images/ninepatch-press.png) 32 round round;
    
}

button.menu-button {
    width: 32px;
    height: 32px;
    margin-left: 8px;

    border: 0px;
    padding: 0px;

    background-image: url(../images/menu-button.png);
    background-color: transparent;
}
button.menu-button:hover {
    width: 32px;
    height: 32px;
    border: 0px;
    padding: 0px;
    background-image: url(../images/menu-button-hover.png);
    background-color: transparent;
}
button.menu-button:active {
    width: 32px;
    height: 32px;
    border: 0px;
    padding: 0px;
    background-image: url(../images/menu-button-press.png);
    background-color: transparent;
}